{% extends "base.html" %}
{% block content %}
<div class="min-h-screen flex justify-center items-center">
<div class=" bg-secondary w-full max-w-md  border border-border rounded-xl px-6 py-8 text-center
              shadow-[0_4px_10px_#FFC73B]
              hover:-translate-y-1 hover:scale-[1.03] hover:border-border
              transition duration-200 flex flex-col gap-4">
<h1 class="text-[1.05rem] font-semibold text-[#3BFFC7] wrap-break-word">Confirmer la suppression</h1>
<p class="text-[0.85rem] text-[#3BFFC7] wrap-break-word">Voulez-vous vraiment supprimer « {{ objet.Article }} {{nom}} » ?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn-danger">Oui, supprimer</button>
    <a class="btn-secondary" href="{% url retour %}">Annuler</a>
</form>

</div>
</div>
{% endblock %}
